<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Adivina el número secreto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-input type="number" min="1" max="100" [(ngModel)]="num" placeholder="Introduce un número del 1 al 100">
    </ion-input>
    <ion-button expand="block" (click)="compruebaNumero()">Adivina</ion-button>
    <p>El numero secreto es {{ mayorMenor }} que el número introducido</p>
  </div>
</ion-content>
